extends ../layout.pug

block content
  h1.center #{item.title}
  p.center #{capitalize(item.item_type)} of 
    a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{item.universe}
    if contextUser && (universe.author_permissions[contextUser.id] >= perms.WRITE/* || item.author === contextUser.username*/)
      |  - 
      a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/${item.shortname}/edit` ) Edit
  p.center
    small Created by 
      a.link.link-animated( href=`${ADDR_PREFIX}/users/${item.author}` ) #{item.author}
      |  #{formatDate(new Date(item.created_at))}
      |  - Last updated #{formatDate(new Date(item.updated_at))}
  p.center
    small
      if item.tags
        each tag in item.tags
          | ##{tag} 
  hr

  //- Tab buttons
  ul.navbarBtns#tabBtns
    if parsedBody
      li.navbarBtn#bodyBtn( data-tab='_body' )
        h3.navbarBtnLink.navbarText( onclick=`showTab('_body')` ) Main Text
    if 'tabs' in item.obj_data
      each tab, name in item.obj_data.tabs
        li.navbarBtn( data-tab=name )
          h3.navbarBtnLink.navbarText( onclick=`showTab('${name}')` ) #{name}
    if 'lineage' in item.obj_data && 'title' in item.obj_data.lineage
      li.navbarBtn( data-tab='_lineage' )
          h3.navbarBtnLink.navbarText( onclick=`showTab('_lineage')` ) Lineage



  .tabs
    if 'tabs' in item.obj_data
      each tab, name in item.obj_data.tabs
        .itemTab.hidden( data-tab=name )
          each val, key in tab
            .itemKey
              span #{key}
              hr
              +mdText(val)

    if 'lineage' in item.obj_data && 'title' in item.obj_data.lineage
        h3 Lineage 
        .itemTab.hidden( data-tab='_lineage' )
          each title, shortname in item.parents
            .itemKey
              span #{title[0] || T('Parent')}
              hr
              a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/${shortname}` )
                | #{item.parent_titles[shortname]}
          each title, shortname in item.children
            .itemKey
              span #{title[0] || T('Child')}
              hr
              a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/${shortname}` )
                | #{item.child_titles[shortname]}

    if parsedBody
      .sheet.hidden( data-tab='_body' )
        +mdText(parsedBody)

  script.
    function showTab(tab) {
      document.querySelectorAll('.tabs [data-tab]').forEach(tab => tab.classList.add('hidden'));
      document.querySelector(`.tabs [data-tab=${tab}]`).classList.remove('hidden');
    }

    const tabs = document.getElementById('tabBtns');
    if (tabs.children.length > 0) {
      showTab(tabs.children[0].dataset.tab)
    }

    if (tabs.children.length < 2) {
      tabs.remove();
    }
