extends ../layout.pug

block content
  h1.center #{item.title}
  p #{item.universe}
  p.center
    small Created by 
      a( href=`${ADDR_PREFIX}/users/${item.authorId}` ) #{item.author}
      |  #{formatDate(new Date(item.createdAt))}
      |  - Last updated #{formatDate(new Date(item.updatedAt))}
  hr