extends ../layout.pug

block content
  h1.center #{item.title}
  p.center #{capitalize(item.item_type)} of #{item.universe}
  p.center
    small Created by 
      a( href=`${ADDR_PREFIX}/users/${item.author}` ) #{item.author}
      |  #{formatDate(new Date(item.created_at))}
      |  - Last updated #{formatDate(new Date(item.updated_at))}
  hr
  .group
    each tabTuple in item.obj_data
      h3 #{tabTuple[0]}
      .itemTab
        each keyTuple in tabTuple[1]
          .itemKey
            span #{keyTuple[0]}
            hr
            span #{keyTuple[1]}