extends ../layout.pug
include ../mixins.pug

block content
  h1.center #{universe.title}
  p.center
    small Created by 
      a( href=`${ADDR_PREFIX}/users/${owner.id}` ) #{owner.username}
      |  #{formatDate(new Date(universe.createdAt))}
      |  - Last updated #{formatDate(new Date(universe.updatedAt))}
  hr
  h4 Authors
  ul
    each username, id in universe.authors
      li
        a( href=`${ADDR_PREFIX}/users/${id}` )= username
  .container(style={
    width: '90%',
    margin: '0 auto',
  })
    .cardContainer
      +typeCard('character', '#F44336')
      +typeCard('location', '#4CAF50')
      +typeCard('event', '#9e9e9e')
      +typeCard('archive', '#a1887f')
      +typeCard('document', '#4d4d4d')
      +typeCard('timeline', '#64B5F6')
      +typeCard('item', '#ffc107')