extends ../layout.pug

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) #{T('Universes')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}?tab=discuss` ) #{T('Discuss')}
  |  / 
  span #{T('New')}

block scripts
  script
    include /static/scripts/domUtils.js
    include /static/scripts/fetchUtils.js
    include /static/scripts/markdown/parse.js
    include /static/scripts/markdown/render.js

block content
  h2 #{thread.title}

  .d-flex.flex-col.gap-4
    each comment in comments
      .sheet.d-flex.gap-4.align-start
        img.userIcon( alt=commenters[comment.author_id].username, src=commenters[comment.author_id].gravatarLink )
        .d-flex.flex-col.grow-1
          small
            b #{commenters[comment.author_id].username} 
            | #{formatDate(comment.created_at)}
          .comment( data-val=comment.body )

  script.
    document.querySelectorAll('.comment').forEach((el) => {
      loadMarkdown(el, '#{universe.shortname}', el.dataset.val, null);
    });

  br
  hr
  br

  if contextUser && (universe.author_permissions[contextUser.id] >= perms.COMMENT)
    form( method='POST' action=`/universes/${universe.shortname}/discuss/${thread.id}/comment` )
      div
        textarea( id='body' name='body' value=`${comment || ''}` )
      div
        button( type='submit' ) Post Comment
      if error
        div
          span( style={'font-size': 'small'} ).color-error= error
