extends ../layout.pug
include ../mixins.pug

mixin typeCard(type, color)
  .card
    a.cardLink.link( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items?type=${type}` )
      div(style={ 'background-color': color })
        h2(align='center')= capitalize(T(`${type}-pl`))
    div
      if contextUser
        a.cardBtn.link( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/create?type=${type}` ) &#x2795; New
        a.cardBtn.link( href=`${ADDR_PREFIX}/users/${contextUser.username}/items?type=${type}` ) My #{T(`${type}-pl`)}

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) #{T('Universes')}
  |  / 
  span #{universe.title}

block content
  h1.center #{universe.title}
  p.center
    small Created by 
      a.link.link-animated( href=`${ADDR_PREFIX}/users/${universe.owner}` ) #{universe.owner}
      |  #{formatDate(new Date(universe.created_at))}
      |  - Last updated #{formatDate(new Date(universe.updated_at))}
      if contextUser && (universe.author_permissions[contextUser.id] >= perms.WRITE)
        |  - 
        a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/edit` ) Edit
      if contextUser && (universe.author_permissions[contextUser.id] >= perms.ADMIN)
        |  - 
        a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/permissions` ) Set Permissions
  hr
  h4 Authors
  ul
    each username, id in universe.authors
      li
        a.link.link-animated( href=`${ADDR_PREFIX}/users/${username}` )= username
      
  .container
    .cardContainer
      +typeCard('article', '#deddca')
      +typeCard('character', '#F44336')
      +typeCard('location', '#4CAF50')
      +typeCard('event', '#9e9e9e')
      +typeCard('archive', '#a1887f')
      +typeCard('document', '#4d4d4d')
      +typeCard('timeline', '#64B5F6')
      +typeCard('item', '#ffc107')
      +typeCard('organization', '#9262df')