extends ../layout.pug
include ../mixins.pug

mixin typeCard(type, color)
  .card
    a.cardLink(href=`${ADDR_PREFIX}/universes/${universe.id}/items/${type}`)
      div(style={ 'background-color': color })
        br
        h2(align='center')= capitalize(type)
        br
    br
    div
      a.cardBtn &#x2795; New
      a.cardBtn( href=`${ADDR_PREFIX}/users/${contextUser.id}/items/${type}` ) My #{type}

block content
  h1.center #{universe.title}
  p.center
    small Created by 
      a( href=`${ADDR_PREFIX}/users/${universe.authorId}` ) #{universe.owner}
      |  #{formatDate(new Date(universe.createdAt))}
      |  - Last updated #{formatDate(new Date(universe.updatedAt))}
  hr
  h4 Authors
  ul
    each username, id in universe.authors
      li
        a( href=`${ADDR_PREFIX}/users/${id}` )= username
      
  .container(style={
    width: '90%',
    margin: '0 auto',
  })
    .cardContainer
      +typeCard('characters', '#F44336')
      +typeCard('locations', '#4CAF50')
      +typeCard('events', '#9e9e9e')
      +typeCard('archives', '#a1887f')
      +typeCard('documents', '#4d4d4d')
      +typeCard('timelines', '#64B5F6')
      +typeCard('items', '#ffc107')