extends ../layout.pug
include ../mixins.pug

mixin typeCard(type, localeTypePl, color)
  .card
    a.cardLink(href=`${ADDR_PREFIX}/universes/${universe.id}/items?type=${type}`)
      div(style={ 'background-color': color })
        br
        h2(align='center')= capitalize(localeTypePl)
        br
    br
    div
      if contextUser
        a.cardBtn &#x2795; New
        a.cardBtn( href=`${ADDR_PREFIX}/users/${contextUser.id}/items?type=${type}` ) My #{localeTypePl}

block content
  h1.center #{universe.title}
  p.center
    small Created by 
      a( href=`${ADDR_PREFIX}/users/${universe.authorId}` ) #{universe.owner}
      |  #{formatDate(new Date(universe.createdAt))}
      |  - Last updated #{formatDate(new Date(universe.updatedAt))}
  hr
  h4 Authors
  ul
    each username, id in universe.authors
      li
        a( href=`${ADDR_PREFIX}/users/${id}` )= username
      
  .container(style={
    width: '90%',
    margin: '0 auto',
  })
    .cardContainer
      +typeCard('character', 'characters', '#F44336')
      +typeCard('location', 'locations', '#4CAF50')
      +typeCard('event', 'events', '#9e9e9e')
      +typeCard('archive', 'archives', '#a1887f')
      +typeCard('document', 'documents', '#4d4d4d')
      +typeCard('timeline', 'timelines', '#64B5F6')
      +typeCard('item', 'items', '#ffc107')