extends ../layout.pug
include ../mixins.pug

block content
  h1.center Welcome to #{user.username}'s page
  div( align='center' )
    img.userIcon( alt=user.username, src=gravatarLink )
  p.center
    small Joined
      |  #{formatDate(new Date(user.createdAt))}
      |  - Last seen #{formatDate(new Date(user.updatedAt))}
  hr
  h3 #{user.username}'s items
  table
    thead
      th Name
      th Type
      th Universe
      th Authors
      th Created
      th Updated

  h3 #{user.username}'s universes
  table
    thead
      th Name
      th Authors
      th Created
      th Updated
    tbody
      each universe in universes
        tr
          td
            a( href=`${ADDR_PREFIX}/universes/${universe.id}` ) #{universe.title}
          td
            +authorList(universe.authors)
          td #{formatDate(universe.createdAt)}
          td #{formatDate(universe.updatedAt)}