extends ../layout.pug

block title
  title #{T('New Item for %s', universe.title)}

block breadcrumbs
  if displayUniverse
    a.link.link-animated(href=`${ADDR_PREFIX}/`) #{universe.title}
  else
    a.link.link-animated(href=`${ADDR_PREFIX}/`) #{T('Home')}
    |  / 
    a.link.link-animated(href=`${ADDR_PREFIX}/universes`) #{T('Universes')}
    |  / 
    a.link.link-animated#uni-breadcrumb(href=`${ADDR_PREFIX}/universes/${universe.shortname}`) #{universe.title}
  |  / 
  a.link.link-animated#type-breadcrumb(href=`${ADDR_PREFIX}/universes/${universe.shortname}/items${item_type ? `?type=${item_type}` : ''}`)
    if item_type
      | #{capitalize(T(`${((universe.obj_data.cats || {})[item_type] || [, 'Missing Category'])[1]}`))}
    else
      | #{T('Items')}
  |  / 
  span #{T('New')}

block scripts
  script.
    function toShortname(title) {
      const shortname = title.toLowerCase()
        .replace(/[\s\(\)"']/g, '-')
        .replace(/[^a-z0-9-]+/g, '')
        .replace(/-+/g, '-')
        .replace(/^-|-$/g, '')
        .substring(0, 64);

      if (validateShortname(shortname) !== null) {
          return '';
      }

      return shortname;
    }
    window.addEventListener('load', () => {
      const titleInput = document.querySelector('#title');
      const shortnameInput = document.querySelector('#shortname');
      const typeSelect = document.querySelector('#item_type');
      const uniBreadcrumb = document.querySelector('#uni-breadcrumb');
      const typeBreadcrumb = document.querySelector('#type-breadcrumb');
      const typeHeaderSpan = document.querySelector('#type-header-span');
      let hasEditedShortname = !!shortnameInput.value;

      titleInput.addEventListener('input', () => {
        if (!hasEditedShortname) {
          shortnameInput.value = toShortname(titleInput.value);
        }
      });
      shortnameInput.addEventListener('input', () => {
        hasEditedShortname = true;
      });
      typeSelect.addEventListener('change', () => {
        typeBreadcrumb.href = `${uniBreadcrumb.href}/items?type=${typeSelect.value}`;
        typeBreadcrumb.textContent = typeSelect.selectedOptions[0].dataset.typePl;
        typeHeaderSpan.textContent = typeSelect.selectedOptions[0].textContent;
      });
    });

block content
  h2 #{T('New')} 
    span#type-header-span #{capitalize(T(`${((universe.obj_data.cats || {})[item_type] || [, 'Missing Category'])[0]}`))}
    |  for #{universe.title}
  if universe.obj_data.cats
    form(method='POST')
      div.inputGroup
        label(for='title') #{T('Title')}: 
        input(id='title' type='text' name='title' value=`${title || ''}`)
      div.inputGroup
        label(for='shortname') #{T('Shortname')}: 
        input(id='shortname' type='text' name='shortname' value=`${shortname || ''}`)
      div.inputGroup
        label(for='item_type' ) #{T('Type')}: 
        select(id='item_type' name='item_type')
          each type, shortname in universe.obj_data.cats
              option(value=(shortname) selected=(item_type === shortname) data-type-pl=capitalize(type[1]))= capitalize(type[0])
      div
        input(type='hidden' name='obj_data' value='{}')
        button(type='submit') #{T('Create Item')}
      if error
        div
          span(style={'font-size': 'small'}).color-error= error
  else
    p #{T('No item types have been defined for %s yet', universe.title)} — #{T('go to the ')}
      a.link.link-animated(href=`${universeLink(universe.shortname)}/`) #{T('edit universe')}
      | #{T(' page to add some')}.
