extends ../layout.pug

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) #{T('Universes')}
  |  / 
  span #{T('New')}

block content
  script
    include /static/scripts/domUtils.js
    include /static/scripts/searchableSelect.js
    include /static/scripts/itemEditor.js
    include /static/scripts/universes.js

  h2 New Universe
  form( method='POST' )
    div.inputGroup
      label( for='title' ) Title: 
      input( id='title' type='text' name='title' value=`${title || ''}` )
    div.inputGroup
      label( for='shortname' ) Shortname: 
      input( id='shortname' type='text' name='shortname' value=`${shortname || ''}` )
    div.inputGroup
      label( for='visibility' ) Visibility: 
      select( id='visibility' name='visibility' )
        option( value='public' selected=(visibility === 'public') ) Public
        option( value='private' selected=(visibility === 'private') ) Private
    div.inputGroup
      label( for='discussion_enabled' ) Discussion: 
      select( id='discussion_enabled' name='discussion_enabled' )
        option( value='enabled' selected=(discussion_enabled === 'enabled') ) Enabled
        option( value='disabled' selected=(discussion_enabled === 'disabled') ) Disabled
    div.inputGroup
      label( for='discussion_open' ) Who can comment: 
      select( id='discussion_open' name='discussion_open' )
        option( value='enabled' selected=(universe.discussion_open) ) Anyone
        option( value='disabled' selected=(!universe.discussion_open) ) Only with COMMENT permission level
    div
      input( type='hidden' id='obj_data' name='obj_data' value='{}' )
      button( type='submit' ) Create Universe
    if error
      div
        span( style={'font-size': 'small'} ).color-error= error
  
  script.
    setDefaultCats();
