extends ../layout.pug

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) #{T('Universes')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}?tab=discuss` ) #{T('Discuss')}
  |  / 
  span #{T('New')}

block content
  h2 New Discussion Thread
  form( method='POST' )
    div.inputGroup
      label( for='title' ) Subject: 
      input( id='title' type='text' name='title' value=`${title || ''}` )
    div.inputGroup
      label( for='comment' ) Message: 
      textarea( id='comment' name='comment' value=`${comment || ''}` )
    div
      button( type='submit' ) Create Thread
    if error
      div
        span( style={'font-size': 'small'} ).color-error= error
