extends ../layout.pug

block content
  script!= `const universeShortname = '${universe.shortname}'`
  script.
    async function deleteUniverse() {
      const shortname = document.getElementById('shortname').value;
      if (shortname !== universeShortname) return;
      const response = await fetch(`/api/universes/${universeShortname}`, { method: 'DELETE' })
      if (response.ok) {
        window.location.reload();
      } else {
        const errSpan = document.getElementById('error');
        errSpan.innerText = await response.json();
      }
    }

  h2 Delete #{universe.title}
  .d-flex.flex-col

    .big-text
      p Are you want to delete #{universe.title}? This action is 
        b permanent
        |  and 
        b.color-error cannot be undone!

      ul
        li All items in #{universe.title} will be deleted.
        li All images uploaded to #{universe.title} and its items will be deleted.
        li All discussion threads and all comments (in threads and on items) will be deleted.
        li Notes pinned to this universe and its items will 
          i not
          |  be deleted, but will be unpinned.

      p If you are 
        b absolutely sure
        |  you want to delete #{universe.title}, please type in its shortname below.

    div.inputGroup
      label( for='title' ) Universe shortname: 
      input( id='shortname' type='text' name='shortname' )

    .d-flex.align-center.gap-2
      button.color-error( onclick='deleteUniverse()' ) Delete Universe
      a.link.link-animated( href=universeLink(universe.shortname) ) Go Back

    div
      span#error( style={color: 'red', 'font-size': 'small'} )
