extends ../layout.pug

block title
  title #{T('Password Reset')}

block scripts
  script(src='https://www.google.com/recaptcha/api.js')
  script.
    function onSubmit(token) {
      document.querySelector('#resetPassword').submit();
    }

block content
  h2 #{T('Password Reset')}
  p 
    | #{T('Please enter the email you used to create your account into the form below.')}
    br
    | #{T('An email will be sent with instructions for how to reset your email.')}
  form#resetPassword(method='POST')
    div.inputGroup
      label(for='email') #{T('Email')}: 
      input(id='email' type='email' name='email' value=email)
    div
      button(class='g-recaptcha' data-sitekey='6Lf35qkqAAAAAMnKLqoBJ9wIX30sodE4lWQS6Y3A' data-callback='onSubmit' data-action='submit') #{T('Reset Password')}
    if error
      div
        span(style={ 'font-size': 'small' }).color-error= error
    if success
      div
        span(style={ 'font-size': 'small' }).color-success= success
