extends ../layout.pug

block content
  script
    include /static/scripts/domUtils.js
    include /static/scripts/searchableSelect.js
    include /static/scripts/itemEditor.js

  h2 Edit #{item.title}
  form( method='POST' )

    div.inputGroup
      label( for='title' ) Title: 
      input( id='title' type='text' name='title' value=item.title )

    div.inputGroup
      label( for='tags' ) Tags: 
      textarea( id='tags' name='tags' ) #{(item.tags || []).join(' ')}

    div.editor
      textarea( id='obj_data_edit' value='{}' oninput="this.parentNode.dataset.replicatedValue = this.value" )
      
    div
      input( id='obj_data' type='hidden' name='obj_data' value='{}' )
      button( type='submit' ) Save Changes

    if error
      div
        span( style={color: 'red', 'font-size': 'small'} )= error 

  script.
    const editor = document.getElementById('obj_data_edit');
    editor.onchange = () => {
      updateObjData(JSON.parse(editor.value));
    };
    editor.onkeyup = editor.onchange;
  script!= `editor.value = JSON.stringify(${JSON.stringify(item.obj_data)}, null, 2); itemMap = ${JSON.stringify(itemMap)};`
  script.
    editor.onchange();
    editor.oninput();
