extends ../layout.pug

block styles
  link( rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" )

block scripts
  script( src="https://unpkg.com/easymde/dist/easymde.min.js" )
  script
    include /static/scripts/domUtils.js
    include /static/scripts/searchableSelect.js
    include /static/scripts/modal.js
    include /static/scripts/fetchUtils.js
    include /static/scripts/markdown/parse.js
    include /static/scripts/markdown/render.js
    include /static/scripts/calendarPicker.js
    include /static/scripts/fileUpload.js
    include /static/scripts/jsUtils.js
    include /static/scripts/easyMDE.js
    include /static/scripts/itemEditor.js

block append save
  li#save-btn.navbarBtn
    a.navbarBtnLink.navbarText( onclick='save(0)' ) Save
  li#preview-btn.navbarBtn
    a.navbarBtnLink.navbarText( onclick='preview()' ) Preview

block content
  h2 Edit #{item.title}
  form#edit( method='POST' )

    div.inputGroup
      label( for='title' ) Title: 
      input( id='title' type='text' name='title' value=item.title )

    div.inputGroup
      label( for='tags' ) Tags: 
      textarea( id='tags' name='tags' ) #{(item.tags || []).join(' ')}

    div.inputGroup
      label( for='comments' ) Enable comments: 
      label.switch
        input( id='comments' name='comments' type='checkbox' checked=item.obj_data.comments onchange='updateObjData({ comments: this.checked })' )
        span.slider

    div.inputGroup
      label( for='notes' ) Enable notes: 
      label.switch
        input( id='notes' name='notes' type='checkbox' checked=item.obj_data.notes onchange='updateObjData({ notes: this.checked })' )
        span.slider
    
    hr.w-100.mb-0

    div#tabs
      div#new-tab-modal
        script.
          function handleTypeChange() {
            const type = getIdValue('new_tab_type');
            const input = document.getElementById('new_tab');
            if (type === 'custom') input.classList.remove('hidden');
            else input.classList.add('hidden');
          }
          function addTabByType() {
            const option = document.getElementById('new_tab_type').selectedOptions[0];
            const type = option.value;
            if (!type) return;
            const name = type === 'custom' ? getIdValue('new_tab') : option.innerText;
            addTab(type, name);
            handleTypeChange();
            hideModal('new-tab-modal');
          }
        .sheet.d-flex.flex-col.gap-1( style={'min-width': '20rem'} )
          select( id='new_tab_type' onchange='handleTypeChange()' )
            option( hidden disabled selected value ) #{T('Tab Type')}...
            each type in ['body', 'lineage', 'location', 'timeline', 'gallery']
              option( value=type )= type === 'body' ? 'Main Text' : capitalize(T(type))
            option( value='custom' )= T('Custom Data')
          input( id='new_tab' type='text' placeholder='Tab Name' ).hidden
          button( type='button' onclick=`addTabByType()` )= T('New Tab')
      script.
        loadModal('new-tab-modal');
      div.d-flex.align-start.mb-2
        ul.tabs-buttons.navbarBtns.gap-1.grow-1
        ul.navbarBtns
          li.navbarBtn
            h3.navbarBtnLink.navbarText.ma-0.material-symbols-outlined.heavy( onclick="showModal('new-tab-modal')" ) add
      div.tabs-content

      div#body.hidden
        textarea
          | #{item.obj_data.body || ''}
      
    div
      input( id='obj_data' type='hidden' name='obj_data' value='{}' )

    if error
      div
        span( style={color: 'red', 'font-size': 'small'} )= error 

  script!= `updateObjData(${JSON.stringify(item.obj_data)}); itemMap = ${JSON.stringify(itemMap)}; universe = '${item.universe_short}'; item = ${JSON.stringify(item)}`
  script.
    resetTabs();
    window.easyMDE = setupEasyMDE('#body textarea', {universe, context: { item }});
    easyMDE.codemirror.on('change', () => {
      updateObjData({ body: easyMDE.value() });
    });
