extends ../layout.pug

block content
  h2 Edit #{item.title}
  form( method='POST' )

    div
      label( for='title' ) Title: 
      input( id='title' type='text' name='title' value=item.title )

    div#body.editor
      if 'body' in item.obj_data
        textarea #{item.obj_data.body || ''}
        script.
          window.onload = () => {
            bindDataValue('#body textarea', (body) => updateObjData({ body }));
          };
      else
        button( type='button' onclick='createBody()' ) Add Body Text

    div#tabs
      div
        button( type='button' onclick=`addTab(getIdValue('new_tab'))` ) New Tab
        input( id='new_tab' type='text' )
      div.buttons
      div.content

    div
      input( id='obj_data' type='hidden' name='obj_data' value='{}' )
      input( type='submit' value='Save Changes' )

    if error
      div
        span( style={color: 'red', 'font-size': 'small'} )= error

  script
    include /static/scripts/itemEditor.js
  script!= `updateObjData(${JSON.stringify(item.obj_data)});`
  script.
    if ('tabs' in obj_data) {
      for (const name in obj_data.tabs) {
        addTab(name, true);
        for (const key in obj_data.tabs[name]) {
          addKeyValuePair(name, key, obj_data.tabs[name][key], true);
        }
      }
    }
