extends ../layout.pug

block title
  title #{T('Password Reset')}

block content
  h2 #{T('Password Reset')}
  p 
    | #{T('Please enter your new password.')}
  form#resetPassword(method='POST')
    .inputGroup
      label(for='newPassword') #{T('New password')}:
      input(id='newPassword' name='newPassword' type='password')
    .inputGroup
      label(for='confirmPassword') #{T('Confirm new password')}:
      input(id='confirmPassword' name='confirmPassword' type='password')
    div
      button(type='submit') #{T('Reset Password')}
    div
      a.link.link-animated(href=`${ADDR_PREFIX}/forgot-password`) #{T('Request a new reset link')}
    if error
      div
        span(style={ 'font-size': 'small' }).color-error= error
