extends ../layout.pug

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) #{T('Universes')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
  |  / 
  span #{T('Set Permissions')}

block scripts
  script
    include /static/scripts/fetchUtils.js

block content
  script.
    window.addEventListener('load', () => {
      document.querySelectorAll('form .permission_level').forEach((select) => {
        select.onchange = () => {
          select.form.submit();
        }
      });
    });

  h2 Update Permissions for #{universe.title}
  .d-flex.flex-col.align-start
    .grid( style={ 'grid-template-columns': '1fr 1rem 1fr' } )
      each perm, aid in universe.author_permissions
        form.grid.grid-inherit.align-center( method='POST' style={ 'grid-column': '1 / 4' } )
          input( class='username' name='username' type='hidden' value=universe.authors[aid] )
          b( style={ 'grid-column': '1 / 2' } ) #{universe.authors[aid]}
          select( class='permission_level' name='permission_level' style={ 'grid-column': '3 / 4' } disabled=((perm === perms.OWNER && ownerCount === 1) || (perm > universe.author_permissions[contextUser.id])) )
            each permission_level in perms
              option( value=permission_level selected=(permission_level === perm) disabled=(permission_level > universe.author_permissions[contextUser.id]) ) #{T(`perms_${permission_level}`)}
      
  br
  hr
  br

  #requests.d-flex.flex-col.gap-2
    each request in requests
      .d-flex.nowrap.gap-1.align-center
        span
          a.link.link-animated( href=`${ADDR_PREFIX}/users/${request.username}` ) #{request.username}
          |  is requesting  
          b #{T(`perms_${request.permission_level}`).toLowerCase()}
          |  permissions.
        button(
          onclick=`putJSON(
            '/api/universes/${universe.shortname}/perms', { username: '${request.username}', permission_level: ${request.permission_level} }
          ).then(() => window.location.reload())`
        ) Approve
        button(
          onclick=`deleteJSON(
            '/api/universes/${universe.shortname}/request/${request.username}'
          ).then(() => window.location.reload())`
        ) Deny
