extends layout.pug

block content
  div
    div.error
      h1 Error #{code}
      img(src=`https://http.cat/${code}` style={ height: '60vh', 'object-fit': 'contain' })
      p.center
        case code
          when 401
            | You are not authorized to view this page. If you believe you should be, make sure you are logged in and try again.
          when 403
            | Your account does not have sufficient permissions to view this page. If you believe this is an error, please contact the page owner.
          when 404
            small
              i Impossible. Perhaps the archives are incomplete.
            br
            | The page you're looking for doesn't seem to exist. If you believe it should, contact the 
            a.link.link-animated( href="mailto:contact@archivium.net" ) site&nbsp;admin
            | .
          when 500
            | Something went wrong on our servers while rendering this page.
          default
            | Something went wrong — that's all we know right now. 
        case code
          when 200
          when 500
            | If this error persists, please contact the 
            a.link.link-animated( href="mailto:contact@archivium.net" ) site&nbsp;admin
            | .
      if hint
        p.center
          span #{hint}
          if hintLink
            br
            a.link.link-animated( href=hintLink ) #{hintLink}
