-
  const capitalize = (str) => str[0].toUpperCase() + str.substr(1,str.length-1);
  const prefixItems = (prefix, items) => {
    const prefixedItems = [];
    for (const item of items) {
      prefixedItems.push(prefix + item);
    }
    return prefixedItems;
  };
  const formatDate = (date) => {
    if (!date) return;
    const now = new Date();
    const secondsAgo = (now - date) / 1000;
    if (secondsAgo < 60) return `${Math.round(secondsAgo)} second${Math.round(secondsAgo) === 1 ? '' : 's'} ago`;
    const minutesAgo = secondsAgo / 60;
    if (minutesAgo < 60) return `${Math.round(minutesAgo)} minute${Math.round(minutesAgo) === 1 ? '' : 's'} ago`;
    const hoursAgo = minutesAgo / 60;
    if (hoursAgo < 24) return `${Math.round(hoursAgo)} hour${Math.round(hoursAgo) === 1 ? '' : 's'} ago`;
    const daysAgo = hoursAgo / 24;
    if (daysAgo < 30) return `${Math.round(daysAgo)} day${Math.round(daysAgo) === 1 ? '' : 's'} ago`;

    return `on ${date.toDateString()} at ${date.toLocaleTimeString()}`;
  };
