extends layout.pug
include mixins.pug

block content
  script.
    let snoozeTimeout;
    let reloading = false;
    function snooze(universe, item) {
      if (reloading) return;
      fetch(`/api/universes/${universe}/items/${item}/snooze`, { method: 'PUT' });
      document.querySelector(`[data-item=${item}]`).parentNode.parentNode.parentNode.querySelectorAll('td').forEach(td => {
        td.style.opacity = 0;
      });
      if (snoozeTimeout) clearTimeout(snoozeTimeout);
      snoozeTimeout = setTimeout(() => {
        document.querySelectorAll('[data-item]').forEach(button => button.disabled = true);
        reloading = true;
        window.location.reload();
      }, 1000);
    }

  h1(align='center') Welcome to Archivium
  br
  if !contextUser
    .sheet.big-text.ma-auto.p-indent( style={'max-width': '60rem'} )
      p
        | Archivium is a worldbuilding tool, allowing you to organize everything about your world in one place. 
        | It's designed for creators who want to keep track of all the details that make their worlds unique — from characters and histories to maps and cultures.
        | Whether you're developing a novel, designing a game, or just exploring new ideas, 
        | Archivium offers a flexible space to collect, connect, and expand on your world's elements at your own pace.
        | You can work privately or collaborate with others, bringing your imaginative landscapes and stories to life.
      .d-flex.flex-col.align-center.gap-1
        h3.navbarBtn
          a.navbarBtnLink.navbarText( href=`${ADDR_PREFIX}/signup?page=%2Funiverses%2Fcreate` ) Create Account
        small
          i or
        h3.navbarBtn
          a.navbarBtnLink.navbarText( href=`${ADDR_PREFIX}/login` ) Log In
  else if universes.length === 0
    .sheet.big-text.ma-auto.center( style={'max-width': '40rem'} )
      p
        | Hello #{contextUser.username}! Looks like there's nothing here yet — go ahead and 
        a.link.link-animated( href=`${ADDR_PREFIX}/universes/create` ) create a new universe 
        | to get started!
  else
    .d-flex.gap-1.flex-wrap.align-start
      .grow-3.sheet
        h2 Recent Updates by Others
        if followedUniverses.length > 0
          table.w-100
            thead
              th Name
              th Universe
              th Last updated by
              th Updated
            tbody
              each item in recentlyUpdated
                tr
                  td
                    a.big-text.link.link-animated( href=`${ADDR_PREFIX}/universes/${item.universe_short}/items/${item.shortname}` ) #{item.title}
                    if !item.last_updated_by
                      small( style='font-size: x-small;' )  (New)
                  td
                    small
                      a.link.link-animated( href=`${ADDR_PREFIX}/universes/${item.universe_short}` ) #{item.universe}
                  td
                    small
                      a.link.link-animated( href=`${ADDR_PREFIX}/users/${item.last_updated_by || item.author}` ) #{item.last_updated_by || item.author}
                  td
                    small #{formatDate(item.updated_at, true)}
        else
          p No updates here — try following some 
            a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) universes
            |  first!
        h2 May Need Review
        table.w-100
          thead
            th Name
            th Universe
            th Updated
          tbody
            each item in oldestUpdated
              tr
                td
                  .d-flex.gap-1
                    button.pa-1( onclick=`snooze('${item.universe_short}', '${item.shortname}')` data-item=item.shortname )
                      small Dismiss
                    a.big-text.link.link-animated( href=`${ADDR_PREFIX}/universes/${item.universe_short}/items/${item.shortname}` ) #{item.title}
                td
                  small
                    a.link.link-animated( href=`${ADDR_PREFIX}/universes/${item.universe_short}` ) #{item.universe}
                td
                  small #{formatDate(item.updated_at, true)}
      .grow-1.d-flex.flex-col.gap-1
        .sheet
          h2 My Universes
          ul
            each universe in universes
              li.big-text
                a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
        .sheet
          h2 Universes I Follow
          ul
            each universe in followedUniverses
              li.big-text
                a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
