extends layout.pug
include mixins.pug

block content
  script.
    async function snooze(universe, item) {
      await fetch(`/api/universes/${universe}/items/${item}/snooze`, { method: 'PUT' });
      window.location.reload();
    }

  h1(align='center') Welcome to Archivium
  br
  if !contextUser
    .sheet.big-text.ma-auto.p-indent( style={'max-width': '60rem'} )
      p
        | Archivium is a worldbuilding tool, allowing you to organize everything about your world in one place. 
        | It's designed for creators who want to keep track of all the details that make their worlds unique — from characters and histories to maps and cultures.
        | Whether you're developing a novel, designing a game, or just exploring new ideas, 
        | Archivium offers a flexible space to collect, connect, and expand on your world’s elements at your own pace.
        | You can work privately or collaborate with others, bringing your imaginative landscapes and stories to life.
      .d-flex.flex-col.align-center.gap-1
        h3.navbarBtn
          a.navbarBtnLink.navbarText( href=`${ADDR_PREFIX}/signup?page=%2Funiverses%2Fcreate` ) Create Account
        small
          i or
        h3.navbarBtn
          a.navbarBtnLink.navbarText( href=`${ADDR_PREFIX}/login` ) Log In
  else if universes.length === 0
    .sheet.big-text.ma-auto.center( style={'max-width': '40rem'} )
      p
        | Hello #{contextUser.username}! Looks like there's nothing here yet — go ahead and 
        a.link.link-animated( href=`${ADDR_PREFIX}/universes/create` ) create a new universe 
        | to get started!
  else
    .d-flex.gap-1.flex-wrap.align-start
      .grow-3.sheet
        h2 Recent Updates by Others
        ul
          each item in recentlyUpdated
            li
              .d-flex.align-center.gap-2
                a.big-text.link.link-animated( href=`${ADDR_PREFIX}/universes/${item.universe_short}/items/${item.shortname}` ) #{item.title}
                small (
                  if item.last_updated_by
                    | Updated by 
                    a.link.link-animated( href=`${ADDR_PREFIX}/users/${item.last_updated_by}` ) #{item.last_updated_by}
                  else
                    | Created by 
                    a.link.link-animated( href=`${ADDR_PREFIX}/users/${item.author}` ) #{item.author}
                  |  #{formatDate(new Date(item.updated_at))})
        h2 May Need Review
        ul
          each item in oldestUpdated
            li.big-text
              .d-flex.gap-1
                button.pa-1( onclick=`snooze('${item.universe_short}', '${item.shortname}')` )
                  small Snooze
                a.link.link-animated( href=`${ADDR_PREFIX}/universes/${item.universe_short}/items/${item.shortname}` ) #{item.title}
      .grow-1.sheet
        h2 My Universes
        ul
          each universe in universes
            li.big-text
              a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
