//- helper functions
include helpers.pug

mixin mdTag(parent, tag)
  if tag[0] === parent[0]
    | #{tag[1]}
    each subtag in tag[4]
      +mdTag(tag, subtag)
  else
    #{tag[0]}( class=tag[2] href=tag[3] )&attributes(tag[5]) #{tag[1]}
      each subtag in tag[4]
        +mdTag(tag, subtag)

mixin mdText(text)
  - const tag = parseMdText(text || '')
  #{tag[0]}( class=tag[2] href=tag[3] )&attributes(tag[5]) #{tag[1]}
    each subtag in tag[4]
      +mdTag(tag, subtag)


doctype html
html(lang='en')
  head
    title Archivium
    link(rel='stylesheet' href=`${ADDR_PREFIX}/static/assets/styles.css`)
  body
    nav.navbar
      ul.navbarBtns
        li.navbarBtn
          a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/`) Home
        li.navbarBtn
          a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/users`) Users
        li.navbarBtn
          a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/universes`) Universes
      if contextUser
        ul.navbarBtns
          li.navbarBtn
            span.navbarText Logged in as #{contextUser.username}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/logout`) Log Out
      else
        ul.navbarBtns
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/login`) Login
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/signup`) Sign Up


    .page
      block content