//- helper functions
include helpers.pug

mixin mdTag(parent, tag)
  if tag[0] === parent[0]
    | #{tag[1]}
    each subtag in tag[4]
      +mdTag(tag, subtag)
  else
    #{tag[0]}( class=tag[2] href=tag[3] ) #{tag[1]}
      each subtag in tag[4]
        +mdTag(tag, subtag)

mixin mdText(text)
  each tag in parseMdText(text)
    #{tag[0]}( class=tag[2] href=tag[3] ) #{tag[1]}
      each subtag in tag[4]
        +mdTag(tag, subtag)


doctype html
html(lang='en')
  head
    title Remnants
    link(rel='stylesheet' href='https://archivium.herokuapp.com/assets/application-d8877ee1339f211cf14d5e49bd4d2e919d7909a28c566f3f27fa90cc9ddc84fb.css')
  body
    nav.navbar
      ul.navbar-body
        li.navbar-btn
          a.navbar-btn-link(href='/archivium') Home
        li.navbar-btn
          a.navbar-btn-link(href='/archivium/users') Users
        li.navbar-btn
          a.navbar-btn-link(href='/archivium/universes') Universes
        li.navbar-btn
          a.navbar-btn-link(href='/archivium/objects') Objects


    .page
      block content