//- helper functions
include helpers.pug

doctype html
html(lang='en')
  head
    block title
      title #{T('Archivium')}
    link(rel='manifest' href='/static/manifest.json')
    link(rel='stylesheet' href=`${ADDR_PREFIX}/static/assets/styles.css`)
    link(rel='icon' type='image/x-icon' href=`${ADDR_PREFIX}/static/assets/icons/archivium.ico`)

    - const icons  = ['edit', 'add', 'cancel', 'delete', 'settings', 'logout', 'person', 'notifications_active', 'notifications', 'mark_email_unread', 'drafts', 'visibility_off'].sort();
    link(rel='stylesheet' href=`https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=${icons.join(',')}`)
    style.
      .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 16
      }
      .material-symbols-outlined.solid {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 16
      }
      .material-symbols-outlined.heavy {
        font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 16
      }
    block styles

    script!= `const locale = JSON.parse('${JSON.stringify(locale)}');`
    script.
      const sprintf = `${sprintf}`;
      function T(str, ...args) {
        return sprintf(locale[str] ?? str, ...args);
      }
      function universeLink(uniShort) {
        const displayUniverse = '#{displayUniverse}';
        if (displayUniverse) {
          if (displayUniverse === uniShort) return '#{ADDR_PREFIX}';
          else return `https://#{DOMAIN}#{ADDR_PREFIX}/universes/${uniShort}`;
        } else {
          return `#{ADDR_PREFIX}/universes/${uniShort}`;
        }
      }
      const VAPID_PUBLIC_KEY = '#{VAPID_PUBLIC_KEY}';
    script
      include /static/scripts/notifications.js
    block scripts

  body
    header
      nav.navbar.ma-2.mb-0
        ul.navbarBtns.shrink-1.scroll-x
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/`) #{T('Home')}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/search`) #{T('Search')}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/contacts`) #{T('Contacts')}
          if !displayUniverse
            li.navbarBtn
              a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/universes`) #{T('Universes')}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/items`) #{T('Items')}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/notes`) #{T('Notes')}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/news`) #{T('News')}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`https://github.com/HMI-Studios/archivium/wiki` target='_blank') #{T('Help')}
        ul.navbarBtns
          block save
          if contextUser
            li.navbarBtn(style={ position: 'relative' })
              a.navbarBtnLink.d-flex.align-center#user-dropdown-btn
                .pfp.badge-anchor
                  img(src=contextUser.pfpUrl)
                  if contextUser.notifications > 0
                    .badge
                      b #{contextUser.notifications}
                span.navbarText #{contextUser.username} &#x23F7;
              .user-dropdown.hidden
                ul.navbarBtns.flex-col
                  li.navbarBtn
                    a.navbarBtnLink.navbarText.text-start.d-flex.align-center.gap-2(href=`${ADDR_PREFIX}/users/${contextUser.username}`)
                      span.material-symbols-outlined person
                      | #{T('Profile')}
                  li.navbarBtn
                    a.navbarBtnLink.navbarText.text-start.d-flex.align-center.gap-2(href=`${ADDR_PREFIX}/settings`)
                      span.material-symbols-outlined settings
                      | #{T('Settings')}
                  li.navbarBtn
                    a.navbarBtnLink.navbarText.text-start.d-flex.align-center.gap-2(href=`${ADDR_PREFIX}/notifications`)
                      .badge-anchor
                        span.material-symbols-outlined notifications
                        if contextUser.notifications > 0
                          .badge
                            b #{contextUser.notifications}
                      | #{T('Notifications')}
                  li.navbarBtn
                    a.navbarBtnLink.navbarText.text-start.d-flex.align-center.gap-2(href=`${ADDR_PREFIX}/logout`)
                      span.material-symbols-outlined logout
                      | #{T('Log Out')}
              script.
                function toggleUserDropdown(force=undefined) {
                  const drop = document.querySelector('.user-dropdown');
                  drop.classList.toggle('hidden', force);
                  const badge = document.querySelector('.pfp .badge');
                  if (badge) badge.classList.toggle('invisible', force !== undefined ? !force : undefined);
                }
                window.addEventListener('click', () => toggleUserDropdown(true));
                document.querySelector('#user-dropdown-btn').addEventListener('click', (e) => {
                  e.stopPropagation();
                  toggleUserDropdown();
                })
                document.querySelector('.user-dropdown').addEventListener('click', e => e.stopPropagation())
          else
            ul.navbarBtns
              if curTemplate !== 'login'
                li.navbarBtn
                  a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/login${curTemplate === 'signup' ? '' : `?${encodedPath}`}`) #{T('Login')}
              if curTemplate !== 'signup'
                li.navbarBtn
                  a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/signup${curTemplate === 'login' ? '' : `?${encodedPath}`}`) #{T('Create Account')}

    main
      .page
        #breadcrumbs
          block breadcrumbs
        block content

    footer
      small.d-flex.justify-center.gap-4.flex-wrap
        .d-flex.justify-center.gap-1.flex-wrap
          a.link.link-animated(href=`${ADDR_PREFIX}/privacy-policy`) #{T('Privacy Policy')}
          span —
          a.link.link-animated(href=`${ADDR_PREFIX}/terms-of-service`) #{T('Terms of Service')}
          span —
          a.link.link-animated(href=`${ADDR_PREFIX}/code-of-conduct`) #{T('Code of Conduct')}
        span &copy; 2024 Archivium. #{T('Developed by ')}
          a.link.link-animated(href='https://github.com/kjniemela' target='_blank') kjniemela
          |  &amp; 
          a.link.link-animated(href='https://github.com/JoelNiemela' target='_blank') JoelNiemela
          | .
        span #{T('Open source on ')}
          a.link.link-animated(href='https://github.com/HMI-Studios/archivium' target='_blank') GitHub.
