//- helper functions
include helpers.pug

mixin mdTag(parent, tag)
  if tag[0] === 'text'
    | #{tag[1]}
    each subtag in tag[2]
      +mdTag(tag, subtag)
  else
    #{tag[0]}&attributes(tag[3]) #{tag[1]}
      each subtag in tag[2]
        +mdTag(tag, subtag)

mixin mdText(tag)
  #{tag[0]}&attributes(tag[3]) #{tag[1]}
    each subtag in tag[2]
      +mdTag(tag, subtag)


doctype html
html(lang='en')
  head
    title Archivium
    link(rel='stylesheet' href=`${ADDR_PREFIX}/static/assets/styles.css`)
    link(rel='icon' type='image/x-icon' href=`${ADDR_PREFIX}/static/assets/icons/archivium.ico`)
    script!= `const locale = JSON.parse('${JSON.stringify(locale)}');`
    script.
      function T(str) {
        return locale[str] ?? str;
      }
    block scripts
  body
    nav.navbar
      script.
        window.onscroll = () => {
          if (document.body.scrollTop > 8 || document.documentElement.scrollTop > 8) {
            document.querySelector('.navbar').classList.add('nav-fullwidth');
          } else {
            document.querySelector('.navbar').classList.remove('nav-fullwidth');
          }
        }
      ul.navbarBtns
        li.navbarBtn
          a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/`) Home
        li.navbarBtn
          a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/contacts`) Contacts
        li.navbarBtn
          a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/universes`) Universes
        li.navbarBtn
          a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/search`) Search
      if contextUser
        ul.navbarBtns
          li.navbarBtn
            span.navbarText Logged in as #{contextUser.username}
          li.navbarBtn
            a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/logout`) Log Out
      else
        ul.navbarBtns
          if curTemplate !== 'login'
            li.navbarBtn
              a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/login${curTemplate === 'signup' ? '' : `?${encodedPath}`}`) Login
          if curTemplate !== 'signup'
            li.navbarBtn
              a.navbarBtnLink.navbarText(href=`${ADDR_PREFIX}/signup${curTemplate === 'login' ? '' : `?${encodedPath}`}`) Sign Up


    .page
      block breadcrumbs
      block content