extends layout.pug

block content
  h1.center #{universe.title}
  p.center
    small Created by 
      a( href=`${ADDR_PREFIX}/users/${owner.id}` ) #{owner.username}
      |  #{formatDate(new Date(universe.createdAt))}
      |  - Last updated #{formatDate(new Date(universe.updatedAt))}
  hr
  h4 Authors
  ul
    each username, id in universe.authors
      li
        a( href=`${ADDR_PREFIX}/users/${id}` )= username