extends layout.pug

block content
  h1.center Welcome to #{user.username}'s page
  div( align='center' )
    img.userIcon( alt=user.username, src=gravatarLink )

  hr
  h3 #{user.username}'s items
  table
    thead
      th Name
      th Type
      th Universe
      th Authors
      th Created
      th Updated

  h3 #{user.username}'s universes
  table
    thead
      th Name
      th Authors
      th Created
      th Updated
    tbody
      each universe in universes
        tr
          td #{universe.title}
          td #{universe.authors}