extends ../layout.pug
include ../mixins.pug

block title
  title #{T('Items')} — #{T('Archivium')}

block scripts
  script
    include /static/scripts/cardUtils.js
    include /static/scripts/listUtils.js
    include /static/scripts/searchUtils.js

block breadcrumbs
  a.link.link-animated(href=`${ADDR_PREFIX}/`) #{T('Home')}
  |  / 
  span #{T('Items')}

block content
  h1.center Items
  .d-flex.align-center.scroll-x
    label.mr-1.nowrap(for='sort')
      b #{T('Sort by')}: 
    select(id='sort' name='sort')
      option(value='updated_at') #{T('Updated')}
      option(value='created_at') #{T('Created')}
      option(value='item_type') #{T('Type')}
      option(value='title') #{T('Title')}
      option(value='author') #{T('Author')}
    select(id='sort_order' name='sort_order')
      option(value='desc') #{T('Descending')}
      option(value='asc') #{T('Ascending')}
    .grow-1
    form.flex-row.gap-0
      button(type='submit') &#x1F50E;&#xFE0E;
      input(id='search' name='search' value=search placeholder='Search...')
  hr
  include ../components/itemList.pug
