extends ../layout.pug

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) #{T('Universes')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
  |  / 
  span #{T('Items')}

block content
  script
    include /static/scripts/cardUtils.js
    include /static/scripts/listUtils.js

  h1.center 
    if type
      | #{capitalize(T(`${((universe.obj_data.cats || {})[type] || [, 'Missing type items'])[1]}`))} 
    else
      | Items 
    | of #{universe.title}
  div
    label( for='sort' )
      b #{T('Sort by')}: 
    select( id='sort' name='sort' )
      option( value='updated_at' ) Updated
      option( value='created_at' ) Created
      option( value='item_type' ) Type
      option( value='title' ) Title
      option( value='author' ) Author
    select( id='sort_order' name='sort_order' )
      option( value='desc' ) Descending
      option( value='asc' ) Ascending
  hr
  include ../components/itemList.pug
