extends ../layout.pug

block content
  script.
    window.addEventListener('load', () => {
      document.querySelectorAll('table').forEach((table) => {
        table.querySelectorAll('th[data-sort]').forEach((th, i) => {
          th.onclick = () => {
            const url = new URL(window.location);
            url.searchParams.set('sort', th.dataset.sort);
            url.searchParams.set('sort_order', url.searchParams.get('sort_order') == 'asc' ? 'desc' : 'asc');
            history.pushState(null, '', url);
            location.reload();
          }
        });
      });
    });

    function filterByTag(tag) {
      const url = new URL(window.location);
      if (url.searchParams.has('tag') && url.searchParams.get('tag') === tag) {
        url.searchParams.delete('tag');
      } else {
        url.searchParams.set('tag', tag);
      }
      history.pushState(null, '', url);
      location.reload();
    }

    function filterByType(type) {
      const url = new URL(window.location);
      if (url.searchParams.has('type') && url.searchParams.get('type') === type) {
        url.searchParams.delete('type');
      } else {
        url.searchParams.set('type', type);
      }
      history.pushState(null, '', url);
      location.reload();
    }

  h1.center 
    if type
      | #{capitalize(T(`${type}-pl`))} 
    else
      | Items 
    | of #{universe.title}
  div
    a.navbarBtnLink.navbarText( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) Back
  hr
  table
    thead
      th( data-sort='title' ) Name
      th( data-sort='item_type' ) Type
      th( data-sort='author' ) Author
      th( data-sort='created_at' ) Created
      th( data-sort='updated_at' ) Updated
      th Tags
    tbody
      each item in items
        tr
          td( data-sort=item.title )
            a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/${item.shortname}` ) #{item.title}
          td( data-sort=item.item_type )
            a.link.link-animated( onclick=`filterByType('${item.item_type}')` title='Filter by type' )
              | #{capitalize(item.item_type)}
          td( data-sort=item.author )
            a.link.link-animated( href=`${ADDR_PREFIX}/users/${item.author}` ) #{item.author}
          td( data-sort=item.created_at ) #{formatDate(item.created_at)}
          td( data-sort=item.updated_at ) #{formatDate(item.updated_at)}
          td
            each tag in item.tags
              if tag
                a.link.link-animated( onclick=`filterByTag('${tag}')` ) ##{tag} 
