extends ../layout.pug
include ../mixins.pug

block title
  title
    if type
      | #{capitalize(T(`${((universe.obj_data.cats || {})[type] || [, 'Missing Category'])[1]}`))} 
    else
      | Items 
    | of #{universe.title}
    
block breadcrumbs
  if displayUniverse
    a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{universe.title}
  else
    a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
    |  / 
    a.link.link-animated( href=`${ADDR_PREFIX}/universes` ) #{T('Universes')}
    |  / 
    a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
  |  / 
  if type
    | #{capitalize(T(`${((universe.obj_data.cats || {})[type] || [, 'Missing Category'])[1]}`))}
  else
    | #{T('Items')}

block content
  script
    include /static/scripts/cardUtils.js
    include /static/scripts/listUtils.js
    include /static/scripts/searchUtils.js


  h1.center 
    if type
      | #{capitalize(T(`${((universe.obj_data.cats || {})[type] || [, 'Missing Category'])[1]}`))} 
    else
      | Items 
    | of #{universe.title}
  .d-flex.align-center
    label.mr-1( for='sort' )
      b #{T('Sort by')}: 
    select( id='sort' name='sort' )
      option( value='updated_at' ) Updated
      option( value='created_at' ) Created
      option( value='item_type' ) Type
      option( value='title' ) Title
      option( value='author' ) Author
    select( id='sort_order' name='sort_order' )
      option( value='desc' ) Descending
      option( value='asc' ) Ascending
    .grow-1
    form.flex-row.gap-0
      input( id='search' name='search' value=search placeholder='Search...' )
      button( type='submit' ) &#x1F50E;&#xFE0E;
  hr
  include ../components/itemList.pug
