extends ../layout.pug
include ../mixins.pug

block breadcrumbs
  span #{T('Universes')}

block content
  h1.center Universes
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/create` ) Create New
  hr
  .card-list
    each universe in universes
      .card.sheet.gap-4.align-start
        .d-flex.flex-col.grow-1
          h3.ma-0
            a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
          .d-flex.gap-1

        .d-flex.flex-col.grow-3
            span 
              b #{T('Authors')}: 
              +authorList(universe.authors)
            .d-flex.gap-2
              span
                b #{T('Created')}: 
                | #{formatDate(universe.created_at)}
              | — 
              span 
                b #{T('Updated')}: 
                | #{formatDate(universe.updated_at)}
              | —
              span #{universe.public ? 'Public' : 'Private'}
