extends ../layout.pug
include ../mixins.pug

block content
  h1.center Universes
  a.link.link-animated( href=`${ADDR_PREFIX}/universes/create` ) Create New
  hr
  table
    thead
      th Name
      th Authors
      th Created
      th Updated
      th Visibility
    tbody
      each universe in universes
        tr
          td
            a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) #{universe.title}
          td
            +authorList(universe.authors)
          td #{formatDate(universe.created_at)}
          td #{formatDate(universe.updated_at)}
          td #{universe.public ? 'Public' : 'Private'}