extends ../layout.pug

block content
  h1.center 
    if type
      | #{capitalize(T(`${type}-pl`))} 
    else
      | Items 
    | of #{universe.title}
  if type
    h4.center
      a( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items` ) List all item types
  a( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) Back
  hr
  table
    thead
      th Name
      th Type
      th Author
      th Created
      th Updated
    tbody
      each item in items
        tr
          td
            a( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/${item.shortname}` ) #{item.title}
          td
            if type
              | #{capitalize(item.item_type)}
            else
              a( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items?type=${item.item_type}` title='Filter by type' ) #{capitalize(item.item_type)}
          td
            a( href=`${ADDR_PREFIX}/users/${item.author}` ) #{item.author}
          td #{formatDate(item.created_at)}
          td #{formatDate(item.updated_at)}