extends ../layout.pug

block content
  h1.center Items of #{universe.title}
  a( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) Back
  hr
  table
    thead
      th Name
      th Type
      th Author
      th Created
      th Updated
    tbody
      each item in items
        tr
          td
            a( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/${item.shortname}` ) #{item.title}
          td #{capitalize(item.item_type)}
          td
            a( href=`${ADDR_PREFIX}/users/${item.author}` ) #{item.author}
          td #{formatDate(item.created_at)}
          td #{formatDate(item.updated_at)}