extends ../layout.pug

block content
  script
    include /static/scripts/table.js

  h1.center 
    if type
      | #{capitalize(T(`${type}-pl`))} 
    else
      | Items 
    | of #{universe.title}
  if type
    h4.center
      a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items` ) List all item types
  div
    a.navbarBtnLink.navbarText( href=`${ADDR_PREFIX}/universes/${universe.shortname}` ) Back
  hr
  table
    thead
      th.sortable Name
      th.sortable Type
      th.sortable Author
      th.sortable Created
      th.sortable Updated
      th Tags
    tbody
      each item in items
        tr
          td( data-sort=item.title )
            a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items/${item.shortname}` ) #{item.title}
          td( data-sort=item.item_type )
            if type
              | #{capitalize(item.item_type)}
            else
              a.link.link-animated( href=`${ADDR_PREFIX}/universes/${universe.shortname}/items?type=${item.item_type}` title='Filter by type' )
                | #{capitalize(item.item_type)}
          td( data-sort=item.author )
            a.link.link-animated( href=`${ADDR_PREFIX}/users/${item.author}` ) #{item.author}
          td( data-sort=item.created_at ) #{formatDate(item.created_at)}
          td( data-sort=item.updated_at ) #{formatDate(item.updated_at)}
          td #{item.tags.join(',')}
