extends ../layout.pug
include ../mixins.pug

block breadcrumbs
  span #{T('Users')}

block content
  h1.center Users
  hr
  table
    thead
      th Name
      th Joined
      th Last seen
    tbody
      each user in users
        tr
          td
            a.link.link-animated( href=`${ADDR_PREFIX}/users/${user.username}` ) #{user.username}
          td #{formatDate(user.created_at)}
          td #{formatDate(user.updated_at)}