extends ../layout.pug
include ../mixins.pug

block breadcrumbs
  span #{T('Users')}

block content
  h1.center Users
  hr
  .card-list
    each user in users
      .card.sheet.gap-4.align-start
        img.userIcon( alt=user.username, src=user.gravatarLink )
        .d-flex.flex-col.grow-1
          h2.ma-0
            a.link.link-animated( href=`${ADDR_PREFIX}/users/${user.username}` ) #{user.username}
          span
            b #{T('Joined')}: 
            | #{formatDate(user.created_at)}
          span 
            b #{T('Last seen')}: 
            | #{formatDate(user.updated_at)}
